<style type="text/css">
  div.alerts{
     text-align: center;
     font-family:arial;
     font-weight: bold;
     font-size: 1.5em;
     color: #CCCC9A;
     background-color: #3D3D3E;
     border: 1px solid #000000;
     border-radius: 10px 10px 0px 0px;
  }

  table.ranking tr.heading{
      color: #CCCC9A;
      background-color: #3D3D3E;
  }
  table.ranking
  {
      border-collapse:collapse;
      width: 100%;
  }
  table.ranking tr.even
  {
      border-collapse:collapse;
      background-color: silver;
  }
  table.ranking tr.odd
  {
      border-collapse:collapse;
  }
  table.notifications
  {
      border-collapse:collapse;
      width: 100%;
  }
  table.notifications tr.even
  {
      border-collapse:collapse;
      background-color: #999967;
  }
  table.notifications tr.odd
  {
      border-collapse:collapse;
  }


</style>


<div style="width: 100%">
  <table style="width: 100%;" cellspacing="15px">
    <tr>
      <td style="vertical-align: text-top;">

         <div class="alerts">
           NOTIFICATIONS
         </div>
         <div style="max-height: 14cm; overflow: auto;">
           <table class="notifications">
             <% (@notices || []).each do |notice| %>
                 <tr class=<%= cycle('odd','even') %>>
                    <td>
                        <%= notice.value_text %> on <%= notice.value_date.strftime('%A, %d %B %Y') %> at <%= notice.site.name %>
                    </td>
                 </tr>
             <% end %>
           </table>
         </div>

      </td>
      <td style="vertical-align: text-top;width: 50%;">

        <div class="alerts">
          Top Ranking Data Quality Issues
        </div>
        <div style="max-height: 14cm; overflow: auto;">
          <table class="ranking">
              <tr class="heading">
                <th style="width: 10%">Pos</th>
                <th>Rule</th>
                <th style="width: 10%">Violations</th>
              </tr>
              <% number = 1 %>
              <% (@rankings || []).each do |rank| %>
                <tr class=<%= cycle('odd','even') %>>
                  <td style="text-align: center"><%= number %></td>
                  <td><%= rank.value_text %></td>
                  <td style="text-align: right"><%= number_with_delimiter(rank.amount, :delimeter => ",") %></td>
                </tr>
                <% number += 1 %>
              <% end %>
          </table>
        </div>

      </td>
    </tr>
  </table>
</div>

