

<html>
<head>
  <title>Dynamic View</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootswatch.css"/>
  <script src="/javascripts/jquery.js" charset="utf-8"></script>

  <style>
      body {
          padding-top: 0px;
      }

      #main {
          width: 85%;
          margin-left: 5%;
      }

      td {
          font-size: 1.0em !important;
      }

      .num{
          text-align: center;
      }

      .large {
          font-size: 1.4em;
      }

      .panel-heading{
          background-color: #2fa4e7 !important;
          color: white !important
      }
      .panel-label {
         padding-left: 30px !important;
      }
      .panel{
          margin: 1%;
          margin-left: 5%;
          margin-top: 0%;
          padding-bottom: 0%;
          width: 88%;
          height: 100%;
      }
      .badge{
          font-size: 0.73em !important;
          min-width: 60px;
      }
          .mute{
              margin-top: 10%;
              margin-left: 10%;
              color: gray;
              font-style: italic;
          }
  </style>
</head>
<body onload="resize()">
 <div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title large">&nbsp;<%= @site_name%></h3>
  </div>

   <%  if @site_errors.length > 0 %>
  <table class="table table-condensed">

    <tbody>
    <% (( @site_errors[0 .. 8] || @site_errors || [])).each do |rule, n|%>
        <tr>
          <td class="panel-label"><%= rule%></td>
          <td class="num"><span class="badge"><%= n%></span></td>
        </tr>
    <% end %>
    </tbody>
  </table>
   <% else %>
       <% if @site_name.blank?%>
        <h3 class="mute"> No data available </h3>
       <% else %>
        <h3 class="mute"> No data available for <%= @site_name%> </h3>
       <%end%>
   <% end %>

  </div>
<script type="text/javascript">
    function resize(){

        var panel = document.getElementsByClassName("panel")[0];
        panel.style.minHeight = ( 0.85 * window.innerHeight) + "px";
    }

    jQuery.ajax({
        url: '/site/update_current_site',
        type: 'POST',
        data: {site: '<%= @site_name%>'}
    });

</script>

</body>
</html>
