<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#drugs').dataTable({
            "aaSorting": [[ 0, "asc" ]],
            'iDisplayLength': 17,
            "bLengthChange": false,
            "bRetrieve": true,
            "bFilter": false
        });
    } );
</script>

<style type="text/css">
    input{
        width: auto;
        font-size: 28px;
    }
    select{
        width: 100%;
        font-size: 28px;
    }
    button{
        width: auto;
        font-size: 28px;
    }
    table.fullpage{
        margin-left: auto;
        margin-right: auto;
        margin-top: -1%;
        width: 100%;
        margin-bottom: 20px;
    }
    .halfpage tr{
        height: 80px;

    }

    .link{
        float: right;
        position: absolute;
        z-index: 1;
        right: 1%;
        top: 4px;
    }

    th{
        text-align: left;
        font-size: 16px;
        background: #66CC66;
        padding: 0px;
        padding-top: 2px;
        color: black;
    }
    #datalist td{
        text-align: left;
        font-size: 16px;
        color: darkslategrey;
        background-color: azure;
    }

    .header {
        position: absolute;
        top: 3%;
        z-index: 0;
        height: 10%;
        overflow: hidden;
    }
    div.dataTables_filter, div.dataTables_length{
        display: none ;
    }

</style>

<div style="width: 100%;">
  &nbsp;&nbsp;<span style="font-size:120%; ">Select Site</span>
  <select id="sites" style="margin-left: 3%; width: 20%; font-size: 20px;" name="site_name" id='site' onchange="loadSite(this.value)">
    <% (@ranking.keys || []).each do |site| %>
        <option><%= site %></option>
    <% end %>
  </select>
  <table class="display" id="drugs" width="100%">
    <thead>
    <tr>
      <th style="width: 5%; text-align: center;">Number</th>
      <th style="width: 80%">Rule</th>
      <th style="width: 15%;text-align: center;">Violations</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>


<script type="text/javascript">
    <!--
    var ranks = {};
    <%@ranking.keys.each do |site|%>

        ranks["<%= site %>"] = {};
        <%@ranking[site].each do |rule, amount|%>

            ranks["<%= site %>"]["<%= rule %>"] = <%= amount %>;

        <%end%>
    <%end%>


    function loadSite(site)
    {
        var data = ranks[site];
        var rules = Object.keys(data);
        var table = document.getElementById("drugs");

        $("#drugs").dataTable().fnClearTable();

        for (var i = 0; i < rules.length; i++){

            $("#drugs").dataTable().fnAddData(
               [
                   i+1,
                   rules[i],
                   parseInt(data[rules[i]]).toLocaleString()
               ]
            )


        }
        var oTable = $('#drugs').dataTable({
            "bDestroy": true
        })

        var oSettings = oTable.fnSettings();
        oSettings._iDisplayLength = 17;

        oTable.fnDraw();
    }

    function create(divType, type, data){
        var node = document.createElement(divType);
        node.style.diplay = type;
        if (divType == "tr"){
            node.style.fontSize = "12px";
            node.style.padding = "0px";
            node.style.background = "#FFFFFF";
        }
        if (data != ""){
            node.innerHTML = data;
        }
        return node;
    }

    loadSite(document.getElementById("sites").value);

    //-->
</script>


