<html>
<head>
  <title>Rule violations graph</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootswatch.css"/>

  <%= javascript_include_tag("jquery-1.8.2") %>
  <%= javascript_include_tag("highstock") %>
  <%= javascript_include_tag("highcharts") %>
  
  <%#= javascript_include_tag("exporting") %>

  <script>
   var data = []
    <% @violation_trends.each do |key, value|  %>
        <% d = key.to_date.strftime("%d-%m-%Y").split(/-/)
          day = (d[0].to_i); month = (d[1].to_i - 1); year = d[2].to_i
        %>
          utc_date = Date.UTC(<%= year %>, <%= month%>, <%=day%>);
          data.push([utc_date, <%= value %>]);
    <% end %>

  $(function () {
    
      $('#container').highcharts('StockChart', {

          rangeSelector : {
              selected : 1,
              inputEnabled: $('#container').width() > 480
          },

          title : {
              text : ''
          },

          series : [{
              name : 'Violations',
              data : data,
              tooltip: {
                  valueDecimals: 2
              }
          }]
      });

});

  </script>
  <style>

  </style>
</head>
<body>
  <div id="container" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
</body>
</html>
