<html>
<head>
  <title>Dynamic View</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootswatch.css"/>
  <%=javascript_include_tag "Highcharts/jquery-1.11.0.min"%>
  <%=javascript_include_tag "Highcharts/highcharts"%>
  <%=javascript_include_tag "Highcharts/exporting"%>

  <style>
      body {
          padding-top: 0px;
      }

      .large {
          font-size: 1.35em;
       }

      .panel-heading{
          background-color: #2fa4e7 !important;
          color: white !important;
      }

      .panel{
          margin: 1%;
          margin-top: 0%;
          margin-left: 5.2%;
          width: 88.2%;
          height: 92% !important;

      }
      #report-display{
          min-height: 210px;
      }
  </style>

  <script>
      var sites = [];
      var data = {};
      var alerts = {};

      <% @sites.each do |key, value|%>

      data["<%= key.strip%>"] = "<%= value%>"
      <%end%>


      <% @sites.sort_by {|k, v| v}.reverse.each do |key|%>
      sites.push("<%= key[0].strip%>")
      <% end %>

      <% @alerts.each do |key, arr|

       arr.each do |site|%>
      alerts["<%= site.strip%>"] = "<%= key%>"
      <%
      end
      end%>

      var max = parseInt("<%= @sites.values.max rescue 200%>");

      var interval = parseInt(max/10);

      <% if !@sites.blank? %>
      data = "<%= @sites.to_json%>"
      <%end%>

      $(function () {
          $('#holder').highcharts({
              chart: {
                  type: 'bar',
                  borderWidth: 0,
                  plotBorderWidth: 1,
                  marginTop: 8,
                  // Edit chart spacing
                  spacingBottom: 5,
                  spacingTop: 5,
                  spacingLeft: 10,
                  spacingRight: 10,
                  // Explicitly tell the width and height of a chart
                  height: (window.innerHeight - 80)
              },
              title: {
                  style: {
                      fontFamily: "'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif",
                      fontSize: '14px'
                  },
                  text: ''
              },
              xAxis: {
                  categories: sites,
                  title: {
                      text: null,
                      style: {
                          font: "12px 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif"
                      }

                  },
                  labels: {
                      style: {
                          color: '#000000',
                          font: "12px Arial, 'Helvetica Neue', Helvetica, sans-serif;"
                      },
                      formatter: function () {

                          return '<span style="fill: black; font-size: 1.3em;">' + this.value + '</span>';
                      }
                  }
              },
              yAxis: {
                  min: 0,
                  max: max,
                  tickInterval: interval,
                  title: {
                      text: 'Total data errors',
                      align: 'high',
                      style: {
                          font: "13px 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif"
                      }
                  },
                  labels: {
                      overflow: 'justify',
                      style: {
                          color: '#000000',
                          font: "13px 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif"
                      }
                  }
              },
              tooltip: {
                  shared: true,
                  useHTML: true,
                  valueSuffix: ' ',
                  formatter: function() {

                      return (this.x + " : " + this.y + " errors");
                  }
              },
              plotOptions: {
                  bar: {
                      dataLabels: {
                          enabled: false
                      }
                  }
              },
              credits: {
                  enabled: false
              },
              series: dataG(),
              exporting: { enabled: false }


          });
      });

      function dataG() {
          var correctedWeights = [];

          <% (@sites.sort_by {|k, v| v}.reverse || [])[0 .. 5].each do |data| %>
          var val = parseInt(<%= data[1] %>);
          //var col = (val >= 100) ? '#c71c22' : (val > 0 ? '#dd5600' : '#3cb521');
          var col = '#dd5600';
          correctedWeights.push({y: val, color: col});
          <% end %>


          return [{name: 'Sites summary', showInLegend: false, data: correctedWeights, pointWidth: 20}];
      }

  </script>
</head>
<body onload="resize()">
<div class="panel panel-danger">
  <div class="panel-heading">
    <h1 class="panel-title large">Sites Requiring Urgent Attention</h1>
  </div>
  <div id="holder" style="width: 100%;">

  </div>
</div>

<script type="text/javascript">
    function resize(){

        var panel = document.getElementsByClassName("panel")[0];
        //panel.style.minHeight = (0.72 * window.innerHeight) + "px";
    }
</script>

</body>
</html>
